@import '../fonts/font.scss';
@import '../palletColor/palletColor.scss';


.experiencecontainerPrincipal {
    padding-top: 3rem;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primaryBlack;
    gap: 2.4rem;

    p {
        font-family: $font-body;
        color: $primaryGray;
        font-weight: 600;
        font-size: 1.4rem;
    }

    .experiencecontainerImg {

        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            width: 3rem;
            height: 3rem;
            pointer-events: none;
            -webkit-user-select: none;

        }
    }
<<<<<<< HEAD
}

@media (max-width: 768px) {
    .experiencecontainerPrincipal {
        gap: 2rem;

        .experiencecontainerImg {
            width: 90%;
            padding-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
        }
    }
=======
>>>>>>> 67fdea9fe3c4f7c07ad3fd00b506a9093cc91cca
}